[Desktop Entry]
Version=1.0
Name=Swee++
GenericName=Minesweeper
Comment=C++ minesweeper game
Exec=swee++ %U
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=swee++
Categories=Game;
StartupNotify=true
X-AppInstall-Package=swee++